@model HomeVM

@{
    ViewBag.Title = "Mikael Brunnberg";
}

<!-- Intro Header -->
<header class="intro" id="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Portfolio</h1>
                    <p class="intro-text">
                        Web development, graphic and product design
                        <br>Created by Mikael Brunnberg
                    </p>
                    <a href="#portfolio" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Portfolio Section -->
<section id="portfolio" class="container content-section text-center">
    <div class="col-lg-10 col-lg-offset-1">
        <h2>Portfolio</h2>
        <h4 class="portfolioColor">Graphic Design & Web Development</h4>
        <!-- #region Inbetween -->
        <div class="col-sm-3 col-xs-6 divImage portfolioClickableImage topMargin36" data-toggle="modal" data-target="#Inbetween" style="background-image: url(../img/GraphicDesign/Inbetween/1.jpg)">
            <div class="layer">
                <h4 class="pictureInformation">Inbetween</h4>
                <p class="pictureInformation">Graphical profile and webpage created for the band Inbetween</p>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Fud -->
        <div class="col-sm-3 col-xs-6 divImage portfolioClickableImage topMargin36" data-toggle="modal" data-target="#Fud" style="background-image: url(../img/GraphicDesign/Fud/01.jpg)">
            <div class="layer">
                <h4 class="pictureInformation">Fud</h4>
                <p class="pictureInformation">Graphic profile and web design for a grocery store</p>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Remind -->
        <div class="col-sm-3 col-xs-6 divImage portfolioClickableImage topMargin36" data-toggle="modal" data-target="#Remind" style="background-image: url(../img/GraphicDesign/Remind/01.jpg)">
            <div class="layer">
                <h4 class="pictureInformation">Remind</h4>
                <p class="pictureInformation">Editorial design for the magazine Remind, done at Bergh</p>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Prints -->
        <div class="col-sm-3 col-xs-6 divImage portfolioClickableImage topMargin36 bottomMargin36" data-toggle="modal" data-target="#Prints" style="background-image: url(../img/GraphicDesign/Prints/01.jpg)">
            <div class="layer">
                <h4 class="pictureInformation">Prints</h4>
                <p class="pictureInformation">Brochures and posters for various projects</p>
            </div>
        </div>
        <!-- #endregion -->

        <h4 class="portfolioColor">Product Design</h4>
        <!-- #region 720 -->
        <div class="col-sm-3 col-xs-6 divImage portfolioClickableImage topMargin36" data-toggle="modal" data-target="#720" style="background-image: url(../img/ProductDesign/720/01.jpg)">
            <div class="layer">
                <h4 class="pictureInformation">720°</h4>
                <p class="pictureInformation">Designed the cover for 720°'s air monitor</p>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region 720 -->
        <div class="col-sm-3 col-xs-6 divImage portfolioClickableImage topMargin36" data-toggle="modal" data-target="#AmpelHouse" style="background-image: url(../img/ProductDesign/AmpelHouse/01.jpg)">
            <div class="layer">
                <h4 class="pictureInformation">Ampel House</h4>
                <p class="pictureInformation">Designed a combination of a hanging flower pot and a bird house - "Ampel House"</p>
            </div>
        </div>
        <!-- #endregion -->


        <!-- #region Inbetween Carousell -->
        <div id="Inbetween" class="modal">
            <span class="closePortfolioModal" data-dismiss="modal">×</span>
            <img class="Inbetween portfolioModalSize" src="~/img/GraphicDesign/Inbetween/1.jpg">
            <img class="Inbetween portfolioModalSize" src="~/img/GraphicDesign/Inbetween/2.jpg">
            <img class="Inbetween portfolioModalSize" src="~/img/GraphicDesign/Inbetween/3.jpg">
            <img class="Inbetween portfolioModalSize" src="~/img/GraphicDesign/Inbetween/4.jpg">
            <a class="carouselArrow leftCarouselArrow" onclick="plusDivs(-1, 'Inbetween')"><span class="fa fa-chevron-left"></span></a>
            <a class="carouselArrow rightCarouselArrow" onclick="plusDivs(1, 'Inbetween')"><span class="fa fa-chevron-right"></span></a>
        </div>
        <!-- #endregion -->
        <!-- #region Fud Carousell -->
        <div id="Fud" class="modal">
            <span class="closePortfolioModal" data-dismiss="modal">×</span>
            <img class="Fud portfolioModalSize" src="~/img/GraphicDesign/Fud/01.jpg">
            <img class="Fud portfolioModalSize" src="~/img/GraphicDesign/Fud/02.jpg">
            <img class="Fud portfolioModalSize" src="~/img/GraphicDesign/Fud/03.jpg">
            <img class="Fud portfolioModalSize" src="~/img/GraphicDesign/Fud/04.jpg">
            <img class="Fud portfolioModalSize" src="~/img/GraphicDesign/Fud/05.jpg">
            <img class="Fud portfolioModalSize" src="~/img/GraphicDesign/Fud/06.jpg">
            <img class="Fud portfolioModalSize" src="~/img/GraphicDesign/Fud/07.jpg">
            <img class="Fud portfolioModalSize" src="~/img/GraphicDesign/Fud/08.jpg">
            <img class="Fud portfolioModalSize" src="~/img/GraphicDesign/Fud/09.jpg">
            <img class="Fud portfolioModalSize" src="~/img/GraphicDesign/Fud/10.jpg">
            <img class="Fud portfolioModalSize" src="~/img/GraphicDesign/Fud/11.jpg">
            <img class="Fud portfolioModalSize" src="~/img/GraphicDesign/Fud/12.jpg">
            <a class="carouselArrow leftCarouselArrow" onclick="plusDivs(-1, 'Fud')"><span class="fa fa-chevron-left"></span></a>
            <a class="carouselArrow rightCarouselArrow" onclick="plusDivs(1, 'Fud')"><span class="fa fa-chevron-right"></span></a>
        </div>
        <!-- #endregion -->
        <!-- #region Remind Carousell -->
        <div id="Remind" class="modal">
            <span class="closePortfolioModal" data-dismiss="modal">×</span>
            <img class="Remind portfolioModalSize" src="~/img/GraphicDesign/Remind/01.jpg">
            <img class="Remind portfolioModalSize" src="~/img/GraphicDesign/Remind/02.jpg">
            <img class="Remind portfolioModalSize" src="~/img/GraphicDesign/Remind/03.jpg">
            <img class="Remind portfolioModalSize" src="~/img/GraphicDesign/Remind/04.jpg">
            <img class="Remind portfolioModalSize" src="~/img/GraphicDesign/Remind/05.jpg">
            <img class="Remind portfolioModalSize" src="~/img/GraphicDesign/Remind/06.jpg">
            <img class="Remind portfolioModalSize" src="~/img/GraphicDesign/Remind/07.jpg">
            <a class="carouselArrow leftCarouselArrow" onclick="plusDivs(-1, 'Remind')"><span class="fa fa-chevron-left"></span></a>
            <a class="carouselArrow rightCarouselArrow" onclick="plusDivs(1, 'Remind')"><span class="fa fa-chevron-right"></span></a>
        </div>
        <!-- #endregion -->
        <!-- #region Prints Carousell -->
        <div id="Prints" class="modal">
            <span class="closePortfolioModal" data-dismiss="modal">×</span>
            <img class="Prints portfolioModalSize" src="~/img/GraphicDesign/Prints/01.jpg">
            <img class="Prints portfolioModalSize" src="~/img/GraphicDesign/Prints/02.jpg">
            <img class="Prints portfolioModalSize" src="~/img/GraphicDesign/Prints/03.jpg">
            <img class="Prints portfolioModalSize" src="~/img/GraphicDesign/Prints/04.jpg">
            <img class="Prints portfolioModalSize" src="~/img/GraphicDesign/Prints/05.jpg">
            <img class="Prints portfolioModalSize" src="~/img/GraphicDesign/Prints/06.jpg">
            <img class="Prints portfolioModalSize" src="~/img/GraphicDesign/Prints/07.jpg">
            <img class="Prints portfolioModalSize" src="~/img/GraphicDesign/Prints/08.jpg">
            <a class="carouselArrow leftCarouselArrow" onclick="plusDivs(-1, 'Prints')"><span class="fa fa-chevron-left"></span></a>
            <a class="carouselArrow rightCarouselArrow" onclick="plusDivs(1, 'Prints')"><span class="fa fa-chevron-right"></span></a>
        </div>
        <!-- #endregion -->
        <!-- #region 720 Carousell -->
        <div id="720" class="modal">
            <span class="closePortfolioModal" data-dismiss="modal">×</span>
            <img class="720 portfolioModalSize" src="~/img/ProductDesign/720/01.jpg">
            <img class="720 portfolioModalSize" src="~/img/ProductDesign/720/02.jpg">
            <img class="720 portfolioModalSize" src="~/img/ProductDesign/720/03.jpg">
            <img class="720 portfolioModalSize" src="~/img/ProductDesign/720/04.jpg">
            <img class="720 portfolioModalSize" src="~/img/ProductDesign/720/05.jpg">
            <a class="carouselArrow leftCarouselArrow" onclick="plusDivs(-1, '720')"><span class="fa fa-chevron-left"></span></a>
            <a class="carouselArrow rightCarouselArrow" onclick="plusDivs(1, '720')"><span class="fa fa-chevron-right"></span></a>
        </div>
        <!-- #endregion -->
        <!-- #region AmpelHouse Carousell -->
        <div id="AmpelHouse" class="modal">
            <span class="closePortfolioModal" data-dismiss="modal">×</span>
            <img class="AmpelHouse portfolioModalSize" src="~/img/ProductDesign/AmpelHouse/01.jpg">
            <img class="AmpelHouse portfolioModalSize" src="~/img/ProductDesign/AmpelHouse/02.jpg">
            <img class="AmpelHouse portfolioModalSize" src="~/img/ProductDesign/AmpelHouse/03.jpg">
            <img class="AmpelHouse portfolioModalSize" src="~/img/ProductDesign/AmpelHouse/04.jpg">
            <img class="AmpelHouse portfolioModalSize" src="~/img/ProductDesign/AmpelHouse/05.jpg">
            <a class="carouselArrow leftCarouselArrow" onclick="plusDivs(-1, 'AmpelHouse')"><span class="fa fa-chevron-left"></span></a>
            <a class="carouselArrow rightCarouselArrow" onclick="plusDivs(1, 'AmpelHouse')"><span class="fa fa-chevron-right"></span></a>
        </div>
        <!-- #endregion -->




    </div>

</section>
<!-- About Section -->
<section id="about" class="content-section text-center">
    <div class="about-section">
        <div class="container">
            <br />
            <br />
            <h2>About</h2>
            <div class="col-lg-5 col-md-6 col-sm-6 col-lg-offset-1 rightParagraph">
                <p class="pLeft">
                    My background has been in looking at design from a product angle,
                    figuring out how iconic objects can refresh the product portfolio,
                    launch a start-up brand or how to create a user friendly product.
                    I have a masters degree in design and product development and I
                    have experience of working with product design withing the exhibition
                    industries, designing customized products. I've also worked as a freelancer
                    for a start-up company where I designed an air monitor, and as a part
                    of my master theses I re-designed Bahco's Ergo-bow saw.
                    <br />
                </p>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 leftParagraph">
                <p class="pLeft">
                    Right now I am taking a new direction towards the IT industry where I
                    can build on my recent graphic design training from Berghs School of
                    Communication coupled with my ongoing accelerated learning program in
                    C# and .NET at Academic Work Academy. I love new challenges and hope
                    to work with UX/web-design where I can apply my previous knowledge to develop
                    new existing and eye-catching applications.
                    <br /><br />
                    If you have any questions please do not hesitate to <a class="page-scroll" href="#contact">contact me!</a>
                <p />
            </div>
            <br />
            <div class="col-sm-6 col-sm-offset-3 centerImgae divImage ratio11 img-circle" style="background-image: url(../img/general/mikael_middag.jpg);"></div>
            <div class="col-lg-10 col-md-12 col-sm-12 col-lg-offset-1">
                <br />
                <br />
                <h3>Download CV</h3>
                <p>To see my CV, please download it below, either in English or in Swedish.</p>
                <button class="standard-btn btn-width-medium" onclick="window.open('../general/CV/Mikael_Brunnberg_CV_English.pdf')">English CV</button>
                <button class="standard-btn btn-width-medium" onclick="window.open('../general/CV/Mikael_Brunnberg_CV_Svenska.pdf')">Swedish CV</button>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Contact</h2>
            <p>Feel free to contact me via email or phone!</p>
            <div class="col-sm-4 contactInformation">
                <h3 class="hidden-xs">Contact Information</h3>
                <p class="hidden-xs firstP">Mikael Brunnberg</p>
                <p><a href="mailto:mikael.brunnberg@gmail.com">mikael.brunnberg@gmail.com</a></p>
                <p><a href="tel:0046708460256">+46 708 460 256</a></p>
                <p class="hidden-xs">Stockholm, Sweden</p>
            </div>

            <div class="col-sm-8">
                <h3 class="hidden-lg hidden-md hidden-sm topMargin20 bottomMargin0">Notify Me</h3>
                <!-- #region MailSender -->
                <div asp-validation-summary="ValidationSummary.All"></div>
                <form asp-controller="Portfolio" asp-action="SendAnEmail">
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <input type="text" asp-for="MailSenderVMThing.Subject" placeholder="Subject">
                            <span asp-validation-for="MailSenderVMThing.Subject"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <input type="text" asp-for="MailSenderVMThing.Name" placeholder="Name">
                            <span asp-validation-for="MailSenderVMThing.Name"></span>
                        </div>
                        <div class="col-sm-4 form-group">
                            <input asp-for="MailSenderVMThing.Email" placeholder="Email">
                            <span asp-validation-for="MailSenderVMThing.Email"></span>
                        </div>
                    </div>
                    <textarea asp-for="MailSenderVMThing.Message" placeholder="Message" rows="5"></textarea>
                    <span asp-validation-for="MailSenderVMThing.Message"></span>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <input class="standard-btn btn-width-small" type="submit" value="Send" style="float: right" />
                        </div>
                    </div>
                </form>
                <!-- #endregion -->
            </div>

            <br />
            <br />
        </div>
    </div>
</section>
<br />
<br />
<br />
<!-- #region Footer -->
<footer class="footerStyle">
    <div class="container text-center">
        <a href="#intro" class="btn btn-circle page-scroll upChevron">
            <i class="fa fa-chevron-up animated" style="margin-top: -20px;"></i>
        </a>
        <br />
        <ul class="list-inline banner-social-buttons">
            <li>
                <button onclick="window.open('https://se.linkedin.com/in/mikael-brunnberg-17669793','_blank')" class="round-icon-btn"><span class="fa fa-linkedin fa-f"></span></button>
            </li>
            <li>
                <button onclick="window.open('https://github.com/enelva', '_blank')" class="round-icon-btn"><span class="fa fa-github fa-fw"></span></button>
            </li>
            <li>
                <button onclick="window.open('http://enelva.deviantart.com/', '_blank')" class="round-icon-btn"><span class="fa fa-deviantart fa-fw"></span></button>
            </li>
        </ul>
        <br />
        <p class="pSmall">Copyright &copy; | Mikael Brunnberg | <a class="footerLink" href="mailto:mikael.brunnberg@gmail.com">mikael.brunnberg@gmail.com</a> | <a class="footerLink" href="tel:0046708460256"> +46 708 460 256 </a></p>
    </div>
</footer>
<!-- #endregion -->

<script>
    var slideIndex = 1;
    showDivs(slideIndex, nameOfProject);

    function plusDivs(n, nameOfProject) {
        showDivs(slideIndex += n, nameOfProject);
    }

    function showDivs(n, nameOfProject) {
        var i;
        var x = document.getElementsByClassName(nameOfProject);
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length };
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>
